h1{
    display: flex;
    justify-content: center;
}
form{
    border: 2px solid black;
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
    margin: 50px;
    margin-left: 430px;
}
.name{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.phone{
    margin-left: 180px;
    margin-top: 10px;
}
.email{
    margin-left: 180px;
    margin-top: 10px;
}
.password{
    margin-left: 180px;
    margin-top: 10px;
}
.address{
    margin-left: 180px;
    margin-top: 10px;
}
.btn{
    margin-left: 180px;
    margin-top: 10px;
}